.footer-wrap {
  footer {
    background-color: $footer-background-color;
    text-align: center;

    figure {
      margin: 0 auto;
    }

    @include tablet {
      text-align: left;

      figure {
        margin: 0;
      }
    }
  }

  .logo {
    top: 20px;
  }

  .top-menu-wrap {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .copyright-foot {
    background-color: $green_dark;
    font-size: 12px;
    padding: 25px 0;
    text-align: center;

    .credit {
      padding-top: 0;
    }

    @include widescreen {
      text-align: left;

      .credit {
        text-align: right;
        padding-top: 0.75rem;
      }
    }

    @include mobile {
      span {
        display: none;
      }

      a {
        display: block;
      }
    }
  }

  .content {
    font-size: 16px;
  }

  .image.is-152w {
    width: 152px;
  }

  .social-links {
    @include mobile {
      display: flex;
      justify-content: center;
    }

    a {
      width: 35.91px;
      height: 35.91px;
      border-radius: 50%;
      background-color: $primary_red;
      color: $footer-background-color;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.2s ease;
      padding-top: 2px;
      margin-left: 5px;
      font-size: 22px;

      &:hover {
        background-color: $green_dark;
      }
    }

    li:first-child {
      a {
        margin-left: 0;
      }
    }
  }

  nav.navbar {
    background-color: $green;
    min-height: 3.25rem;
    position: relative;
    z-index: 30;
    justify-content: center;
    text-align: center;

    @include tablet {
      justify-content: flex-end;
      text-align: right;
    }

    @include widescreen {
      justify-content: flex-start;
      text-align: left;
    }

    .menu-footer-menu-container {
      display: flex;

      @include widescreen {
        margin-right: 50px;
      }

      > ul {
        text-transform: uppercase;
        font-weight: 700;
        justify-content: left;

        @include widescreen {
          display: flex;
          flex-flow: column wrap;
          max-height: 369px;
        }

        @media screen and (max-width: 1520px) and (min-width: 1280px) {
          max-height: 369px;
        }

        @media screen and (max-width: 1340px) and (min-width: 1280px) {
          max-height: 529px;
        }

        > li {
          padding: 0 30px;
          line-height: 35px;
          display: block;

          &.has-dropdown {
            padding-bottom: 20px;
          }

          @include widescreen {
            display: flex;
            flex-flow: column;
          }

          a {
            color: #000;
            background-color: $green;
            align-self: end;

            &:hover {
              background-color: $green;
              color: $primary_red;
            }
          }

          &.menu-item-has-children > a {
            padding-left: 0;
            padding-right: 0;

            @include widescreen {
              padding-right: 0.75rem;
            }
          }

          &.active {
            a {
              color: $primary_red;
            }
          }
        }
      }
    }
  }

  .navbar-link {
    padding-right: 0.75rem;
    background-color: transparent !important;

    &::after {
      border: 0 solid transparent;
    }
  }

  .navbar-dropdown {
    display: block !important;
    box-shadow: none;
    border: none;
    background: none;
    padding-top: 0;
    text-transform: initial;
    font-weight: 400;
    position: relative;
    top: 0;
    left: 0;

    @include tablet {
      // left: 19px;
      left: 0;
    }

    @include widescreen {
      position: relative;
    }

    .navbar-item {
      background-color: $green;
      display: block;
      padding-right: 30px;

      @include widescreen {
        display: flex;
        padding: 0.375rem 0;
      }

      &:hover {
        background-color: $green;
        color: $primary_red;
      }
    }
  }
}

.level-item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: left;
}
