.user-menu {
  li {
    border-right: 1px solid $green-dark;
    padding: 0 10px;
    font-weight: 400;

    &:last-child {
      border-right: none;
    }
  }
}

.quick-links-and-cart {
  margin-bottom: 0 !important;
  font-size: 13px;
  text-transform: uppercase;

  .cart-customlocation {
    color: $primary-red;
    font-size: 15px;
    padding-left: 22px;

    span {
      color: #000;
    }
  }

  a {
    color: $green_dark;

    &:hover {
      color: $primary_red;
    }

    &.icon-search {
      font-size: 20px;
      margin-right: 20px;
    }
  }
}

.search-input-toggle {
  max-width: 0;
  overflow: hidden;
  transition: 0.2s ease;

  &.open {
    max-width: 300px;
    width: auto;
    overflow: auto;
  }

  .dgwt-wcas-no-submit {
    .dgwt-wcas-ico-magnifier {
      display: none;
    }

    .dgwt-wcas-sf-wrapp input[type=search] {
      &.dgwt-wcas-search-input {
        padding-left: 15px;
      }
    }
  }
}

.site-header {
  .logo {
    padding-top: 15px;
  }

  .quick-links-menu-wrap {
    align-items: center;
  }

  .quick-links-and-cart {
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 15px;
  }

  nav.navbar {
    align-items: center;
    justify-content: flex-end;

    .menu-main-menu-container {
      display: flex;
      width: 100%;

      > ul {
        display: flex;
        flex-direction: row;
        text-transform: uppercase;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

        > li {
          padding: 0;

          a {
            color: #000;
            padding: 0;
            font-size: 14px;
            font-weight: 400;

            &:hover {
              color: $primary_red;
            }

            &::after {
              margin-top: -0.5em;
              content: none;
            }
          }

          &:hover {
            a {
              background-color: transparent;
            }
          }

          &.active,
          &.current_page_parent {
            a {
              color: $primary_red;
            }
          }

          .navbar-item {
            padding-top: 5px;
            padding-bottom: 5px;
          }
        }
      }

      .navbar-dropdown {
        box-shadow: none;
        border-top: none;
        background-color: $green_medium_light;
        border-radius: 0;
        text-transform: none;
        display: none;
      }
    }
  }

  .menu-container {
    @media screen and (max-width: 1280px) {
      max-width: 3000px;
      width: auto;
    }
  }
}
