.sidebar {
  .woo_title_category {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 40px;
    margin-top: 0;
  }
}
