@charset "UTF-8";

@font-face {
  font-family: "alistair";
  src: url("../fonts/alistair.eot");
  src:
    url("../fonts/alistair.eot?#iefix")
    format("embedded-opentype"),
    url("../fonts/alistair.woff")
    format("woff"),
    url("../fonts/alistair.ttf")
    format("truetype"),
    url("../fonts/alistair.svg#alistair")
    format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]::before {
  font-family: "alistair", sans-serif !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  font-family: "alistair", sans-serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search::before {
  content: "\61";
}

.icon-youtube::before {
  content: "\62";
}

.icon-linkedin::before {
  content: "\63";
}

.icon-angle-right::before {
  content: "\64";
}

.icon-angle-left::before {
  content: "\65";
}

.icon-mail::before {
  content: "\66";
}

.icon-circle::before {
  content: "\67";
}

.icon-check::before {
  content: "\68";
}

.icon-instagram::before {
  content: "\69";
}

.icon-pinterest::before {
  content: "\6a";
}

.icon-facebook::before {
  content: "\6b";
}

.icon-angle-down::before {
  content: "\6c";
}

.icon-angle-up::before {
  content: "\6d";
}
