
/** Fonts **/
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600|Petit+Formal+Script");

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;

  input,
  textarea,
  select {
    font-family: "Montserrat", sans-serif;
  }

  #shiftnav-toggle-main {
    color: black;

    .shiftnav-toggle-burger {
      padding: 25px 20px;
    }

    .shiftnav-main-toggle-content {
      padding-right: 20px;

      .cart-summary {
        float: right;
        margin-left: 0;
      }
    }
  }

  &.shiftnav-toggle-burger {
    padding-top: 66px;
  }

  .shiftnav::after {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }

  .shiftnav-nav {
    .social-links {
      margin-top: 20px;
      margin-left: 25px;
    }

    .user-menu {
      margin-top: 20px;
      margin-left: 15px;
    }
  }
}

.section-title {
  span {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 10px;
  }
}

// Static hero styles
.hero-body {
  position: relative;

  &.white-filter {
    &::before {
      content: "";
      background-color: white;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      opacity: 0.4;
    }
  }

  .title {
    width: 100% !important;
    max-width: 100% !important;
    line-height: 10px !important;
    margin: 0 !important;

    span {
      font-size: 29px;
      display: block;
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      line-height: normal;

      @include mobile {
        font-size: 16px;
      }
    }
  }
}

.hero-title {
  color: #000 !important;
  max-width: none !important;
  float: none !important;
  margin-top: 0.25em !important;
  margin-bottom: 60px;
}

.button {
  padding: 25px 24px !important;
}

/** Feautured Boxes **/
.feautered_boxes {
  .box-wrap {
    position: relative;
  }

  .box-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .box-elements {
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .box-ratio {
    padding-bottom: 100%;

    &.has-wide-ratio {
      padding-bottom: 48.8%;

      &.has-larger-height {
        padding-bottom: 75%;
      }

      @include mobile {
        padding-bottom: 100%;
      }
    }
  }

  .btn-color-medium-light {
    background-color: $green_medium_light !important;
    text-transform: uppercase;
    border: none;
  }

  .hero {
    cursor: pointer;
  }

  .button {
    max-width: 75%;

    &.small-height {
      padding: 25px 24px;
    }
  }

  .is-paddingless {
    @include mobile {
      padding: 0.5em 1em !important;
    }
  }
}

.content {
  h1,
  h2 {
    font-family: "Petit Formal Script", cursive;
    font-size: 40px;
    margin-bottom: 30px;
    line-height: normal;

    @include tablet {
      font-size: 50px;
    }
  }

  h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
  }

  .hero-subtitle {
    width: 488px;
    height: auto;
    line-height: 1.7;
    font-size: 16px;
    font-weight: 400 !important;

    @include mobile {
      width: 100%;
    }
  }

  ul {
    margin-left: 2em;
    margin-right: 2em;
  }

  .alignwide {
    margin-left: -80px;
    margin-right: -80px;
  }

  .alignfull {
    margin-left: calc(-100vw / 2 + 100% / 2);
    margin-right: calc(-100vw / 2 + 100% / 2);
    max-width: 100vw;
  }

  // .alignfull img {
  //   width: 100vw;
  // }

  .wp-block-button__link {
    text-transform: uppercase;
    background-color: $primary_red;
    color: #fff;
    transition: 0.2s ease;
    border-radius: 0;

    &:hover {
      filter: brightness(70%);
    }
  }

  .button {
    background-color: $green !important;
    color: #000;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.2s ease;
    font-size: 13px;
    margin: 0;
    padding: 45px 24px;
    letter-spacing: 2px;

    &:hover {
      background-color: $green_dark !important;
    }
  }

  a.button {
    word-break: keep-all;
    white-space: pre-line;
  }

  .btn-hide {
    opacity: 0;
  }

  .btn-show {
    opacity: 1;
  }

  .button-border {
    .button {
      &::before {
        content: "";
        position: absolute;
        left: -10px;
        top: -10px;
        right: -10px;
        bottom: -10px;
        border: 2px solid $green_medium_light;
        transition: 0.3s ease;
      }
    }

    &:hover {
      .button {
        background-color: $green_dark !important;

        &::before {
          left: -25px;
          top: -25px;
          right: -25px;
          bottom: -25px;
        }
      }

      .btn-hide {
        opacity: 1;
      }
    }

    @include mobile {
      .button {
        background-color: $green_dark !important;

        &::before {
          left: -25px;
          top: -25px;
          right: -25px;
          bottom: -25px;
        }
      }

      .btn-hide {
        opacity: 1;
      }
    }
  }
}

a {
  transition: color 0.2s ease;
}

.woocommerce {
  a {
    &.button {
      background-color: $green !important;
      color: #000;
      border: none;
      text-transform: uppercase;
      font-weight: 500;
      transition: 0.2s ease;
      font-size: 13px;
      margin: 0;
      padding: 25px 24px;
      letter-spacing: 2px;

      &:hover {
        // background-color: $green_dark !important;
      }
    }
  }
}

.section-our-portfolio {
  @include mobile {
    text-align: center;
  }
}

.privacy-policy,
.terms-and-conditions {
  .container {
    .content {
      padding: 0 20px;

      @include desktop {
        padding: 0;
      }
    }
  }
}

.heateor_sss_sharing_container {
  display: flex;
  align-items: center;
  margin-top: 50px;

  div {
    color: #a9b9af;
    margin-right: 10px;
    font-size: 15px;
  }
}

.page-id-19 {
  #jarallax-container-0 {
    & > div {
      background-image: none !important;
    }
  }
}

@include mobile {
  .remodal {
    margin-top: 65px;
  }
}

/** Woocomerce login and register **/
.woocommerce form .form-row input.input-text {
  height: 40px !important;
}

.woocommerce button.button {
  font-weight: 400 !important;
}

.has-bg-green-medium-light {
  background-color: $green_medium_light;
}

.has-bg-green-really-light {
  background-color: $green_really_light;
}

.vertical-separator {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-color: #965250;
    width: 1px;
    height: 100%;
    left: 50%;
  }
}

.is-clickable {
  cursor: pointer;
}

#wp-live-chat-header {
  margin-bottom: 30px;
}

.needsclick {
  display: none !important;
}

.frm_dropzone {
  cursor: pointer;
  color: #555;
  background-color: #fff;
  border-color: #ccc;
  border-width: 1px;
  border-style: solid;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  width: 100%;
  max-width: 100% !important;
  font-size: 14px;
  padding: 6px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  font-weight: normal;
  min-height: 32px !important;
  line-height: 1.3 !important;

  &::before {
    content: "SELECT CV";
    position: relative;
    color: #9c9c9c;
  }

  .fallback {
    display: none;
  }
}

.frm_clearfix {
  position: relative;

  &::after {
    content: "UPLOAD";
    visibility: visible;
    position: absolute;
    right: 0;
    background-color: $green_dark;
    padding: 6px 50px;
    top: 0;
    line-height: 19px;
    height: 31px;
    color: white;
  }

  &.dz-processing,
  .dz-complete {
    position: relative;
    top: 0;
    width: 100%;
    padding: 55px 0;

    .dz-image {
      display: none;
    }

    .dz-column {
      width: 100%;
    }

    &::after {
      content: " ";
      display: none;
    }
  }
}

.frm_submit {
  text-align: right;

  button {
    text-transform: uppercase;
  }
}

.shiftnav-target {
  a {
    color: #fff;
    background: #a9b9af !important;
  }

  &:hover {
    background: #a9b9af !important;
  }
}

.hide-addons-btn {
  display: none !important;
}

// .frm_radio {
//   label {
//     position: relative;

//     &::before {
//       content: "";
//       position: absolute;
//       background-color: $green;
//       width: 25px;
//       height: 25px;
//       left: -10px;
//       border-radius: 50%;
//     }
//   }
// }
.ui-datepicker-header {
  background: #965250 !important;
}

.button_no_bg {
  &:hover {
    &::before {
      content: "";
      position: absolute;
      background-color: #a9b9af;
      opacity: 0.7;
      width: 100%;
      height: 100%;
      -webkit-transition: 0.1s linear;
      -o-transition: 0.1s linear;
      transition: 0.1s linear;
    }
  }

  @include mobile {
    &::before {
      content: "";
      position: absolute;
      background-color: #a9b9af;
      opacity: 0.7;
      width: 100%;
      height: 100%;
      -webkit-transition: 0.1s linear;
      -o-transition: 0.1s linear;
      transition: 0.1s linear;
    }
  }

  a {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 0;
    opacity: 0;
    -webkit-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    transition: 0.1s linear;
    color: white;
    background-color: #fff0 !important;
    border: 2px white solid;
    font-size: 13px;
    margin: 0;
    padding: 15px;
    letter-spacing: 2px;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
  }
}

.choosing-flowers {
  h2 {
    font-size: 25px;
  }
}

.our-clients-events {
  img {
    object-fit: contain !important;
  }
}

.sidebar {
  .sub-menu {
    list-style-type: none;
  }
}

.single-design {
  .featured-image {
    width: 33%;
    padding: 10px;
  }
}

.tax-event_category {
  .main {
    width: 100%;
    padding: 0;
  }

  .featured-image {
    width: 33%;
    padding: 10px;
  }

  .seo-background {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: white;
      opacity: 0.5;
    }

    .columns {
      position: relative;
      color: black;
    }
  }

  .sidebar {
    display: none;
  }
}

.term-addons {
  .nav_menu-2,
  .nav_menu-3,
  .nav_menu-4 {
    display: none;
  }
}

.justify-content-center {
  justify-content: center;
}

.iti__flag { background-image: url("~intl-tel-input/build/img/flags.png"); }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag { background-image: url("~intl-tel-input/build/img/flags@2x.png"); }
}

.iti--allow-dropdown {
  width: 100%;

  input {
    padding-right: 6px !important;
    padding-left: 52px !important;
  }
}

.commentlist {
  display: inline-block;
  margin-left: 0 !important;

  .comment-body {
    margin: 1.5em;
  }

  .children {
    .comment {
      margin-left: 20px;
    }
  }

  .comment-reply-title {
    display: flex;
    justify-content: space-between;
  }
}

#respond {
  padding-bottom: 3em;
}

.wp-block-embed-youtube {
  .wp-block-embed__wrapper {
    iframe {
      @media screen and (max-width: 1024px) {
        width: 100%;
      }
    }
  }
}

.has-border {
  outline: 2px #c7cbc9 solid;
  outline-offset: -50px;
}

.has-border-white {
  outline: 2px #fff solid;
  outline-offset: -50px;
  position: relative;

  &::after {
    content: "";
    border: 2px white solid;
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;

    @include mobile {
      top: 25px;
      left: 25px;
      right: 25px;
      bottom: 25px;
    }
  }
}

#menu-sidebar-occasion {
  margin: 0;
}
