/** Colors */
$primary_red:               #965250;
$primary_red_light:         #e0d0cf;
$green_really_light:        #f8fbf9;
$green_medium_light:        #e7efea;
$green:                     #c5d4cb;
$green_dark:                #a9b9af;
$link:                  $primary_red;
$footer-background-color: $green;

/** Box Model  */
$spacer:                2rem;

// Slick Carousel font path
$slick-font-path: "~slick-carousel/slick/fonts/";
$slick-loader-path: "~slick-carousel/slick/";
$slick-arrow-color: $primary_red;

/** Bulma **/
$modal-content-width: 1000px;

$navbar-breakpoint: 960px;
