.about {
  .alt-text-images {
    background-color: $green_medium_light;
  }

  .overlay {
    outline: 2px solid white;
  }

  .wp-block-button__link {
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }
}
