.alt-text-images {
  background-color: $green_really_light;
  position: relative;

  .overlay {
    position: absolute;
    top: 20px;
    right: 20px;
    left: 20px;
    bottom: 20px;
    z-index: 2;
  }

  .columns {
    &.is-gapless {
      margin-bottom: 0;
    }

    .text {
      padding: 80px;
      position: relative;
      z-index: 3;

      @include mobile {
        padding: 40px;
        text-align: center;
      }

      h2 {
        margin-bottom: 50px;
        font-size: 36px;
      }
    }

    .image {
      background-size: cover;
    }

    @include mobile {
      .image {
        min-height: 300px;
      }
    }

    &.odd {
      .image {
        order: -1;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
}
