.post-type-archive-vacancy {
  .job-type {
    color: $primary_red;
  }

  .btn-color-primary {
    color: white;
    background-color: $primary_red !important;
    padding: 25px 19px;
  }

  .careers-icon {
    max-width: 50px;
    margin-bottom: 20px;
  }

  .clock {
    width: auto !important;
    height: 20px;
    margin-right: 5px;
  }

  .vacancy-column {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 769px) {
      flex-basis: 50%;
      max-width: 50%;
    }

    .job-description {
      flex-grow: 1;
    }

    .heateor_sss_sharing_container {
      margin-top: 0;
    }
  }
}
