.archive-feature {
  .feature-image {
    padding-top: 141.5%;
    display: block;
    position: relative;

    .button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 0;
      opacity: 0;
      transition: 0.1s linear;
      color: white;
      background-color: #fff0 !important;
      border: 2px white solid;
    }

    &:hover {
      .button {
        opacity: 1;
      }

      &::before {
        content: "";
        position: absolute;
        background-color: #a9b9af;
        opacity: 0.7;
        width: 100%;
        height: 100%;
        transition: 0.1s linear;
        top: 0;
      }
    }
  }

  .selected {
    color: #965250;
  }

  a {
    color: #363636;
  }
}
