.blog-archive {
  .featured-image {
    padding-top: 100%;
    width: 100%;
    position: relative;
    margin: 0 auto;
    display: block;
    outline: 2px solid #fff;
    outline-offset: -10px;
    transition: 0.1s linear;

    @include mobile {
      margin-top: 18px !important;
    }

    .button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 0;
      opacity: 0;
      transition: 0.1s linear;
    }

    &:hover {
      outline: 2px solid white;
      outline-offset: -20px;

      .button {
        opacity: 1;
      }
    }
  }

  p,
  option,
  select {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  select {
    padding: 1em;
  }

  option {
    padding: 1em;
  }

  a {
    color: #363636;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .date {
    color: $green_dark;
  }

  .filters-mobile {
    text-align: center;
    padding: 4em;
    display: none;

    @include mobile {
      display: block;
    }
  }

  .filters-desktop {
    display: block;

    @include mobile {
      display: none;
    }

    a:hover {
      color: #8d514f;
    }

    a.selected {
      color: #965250;
    }
  }
}
