.blog-post {
  .blog-featured-image {
    max-height: 500px;
    width: 100%;
    object-fit: cover;
  }

  .featured-image {
    padding-top: 100%;
    width: 100%;
    position: relative;
    margin: 0 auto;
    display: block;
    outline: 2px solid #fff;
    outline-offset: -10px;
    transition: 0.1s linear;

    .button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 0;
      opacity: 0;
      transition: 0.1s linear;
    }

    &:hover {
      outline: 2px solid white;
      outline-offset: -20px;

      .button {
        opacity: 1;
      }
    }
  }

  a {
    font-weight: bold;
  }

  .montserrat {
    font-family: "Montserrat", sans-serif !important;
  }

  .border-bottom {
    border-bottom: $green_dark solid;
  }

  ul {
    list-style-type: none;
    margin: 0;
  }

  li {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    // margin-top: 0 !important;

    a {
      color: #4a4a4a;
      font-weight: 600;
    }
  }

  .social-links {
    li {
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
    }

    a {
      background-color: $primary_red;
      color: white;
    }
  }

  p {
    margin-top: 5px;
  }

  .post-categories {
    li {
      margin-top: 5px;
    }
  }

  .btn-color-primary {
    color: white;
    background-color: $primary_red !important;
  }

  h3 {
    font-size: 22px;
  }

  h1 {
    padding: 0 50px;

    @media screen and (min-width: 768px) {
      padding: 0 200px;
    }
  }

  .comments {
    .submit {
      line-height: 0;
    }
  }
}
