.yoast-breadcrumbs {
  margin: 0 15px 0 15px;
  z-index: 6;
  text-transform: uppercase;
  columns: #000;

  @include widescreen {
    margin-left: 0;
  }
}

.container-breadcrumbs {
  z-index: 6;
  position: absolute;

  &::after {
    content: "";
    display: table-cell;
    clear: both;
  }

  @media (max-width: 768px) {
    transform: translate(0, 20px);
  }

  @media (min-width: 769px) {
    transform: translate(0, 50px);
  }
}

// .content.columns.is-multiline.is-marginless {
//   margin-top: 50px !important;
// }

/**
.container-breadcrumbs {
  :not(.woocommerce) {
    position: absolute;

    @media (max-width: 768px) {
      transform: translate(0, 20px);
    }

    @media (min-width: 769px) {
      transform: translate(0, 50px);
    }
  }
}
*/
