.cart-summary {
  align-items: center;
  justify-content: flex-end;
  font-size: 15px;
  line-height: 1.1;
  color: $green-dark;
  margin-left: 22px;

  img {
    margin-right: 0;
    position: relative;
  }

  .cart-customlocation {
    color: $primary-red;
    font-size: 15px;

    a {
      padding-left: 30px !important;
    }
  }

  &:hover {
    img {
      top: -5px;
      transition: 0.3s ease;
    }
  }
}
