body.contact {
  @media screen and (min-width: 600px) {
    .wp-block-column {
      flex-basis: 45%;
    }
  }

  @media screen and (max-width: 600px) {
    .wp-block-column {
      text-align: center;
    }
  }

  .contact-form-details-wrap {
    padding-left: 25px;

    @media screen and (max-width: 767px) {
      padding-right: 25px;

      .frm_submit {
        text-align: center;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .map-wrap {
      margin-bottom: 30px;
    }
  }

  .contact-details {
    .item {
      margin-bottom: 40px;
      display: flex;
      align-items: center;

      @media screen and (max-width: 600px) {
        flex-direction: column;
        margin-bottom: 0;
        margin-top: 30px;
      }

      h4 {
        text-transform: uppercase;
        font-weight: 300;
        margin: 0 0 5px;
        font-size: 20px;
      }

      .icon {
        width: 40px;
        height: 50px;
        margin-right: 25px;
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;

        @media screen and (max-width: 600px) {
          margin-right: 0;
          margin-bottom: 15px;
          background-position: center center;
        }

        &.icon-address {
          background-image: url("../images/address-icon.svg");
        }

        &.icon-phone {
          background-image: url("../images/phone-icon.svg");
        }

        &.icon-mobile {
          background-image: url("../images/mobile-icon.svg");
        }

        &.icon-email {
          background-image: url("../images/email-icon.svg");
        }
      }
    }
  }
}

// formidable submit button
.frm_submit {
  font-weight: 400 !important;

  .frm_button_submit .frm_final_submit {
    font-weight: 400 !important;
  }
}
