.easyPaginateNav {
  text-align: center;
  line-height: 35px;
  margin-top: 75px;
  margin-bottom: 75px;

  a {
    color: black;
    font-weight: 500;
    display: inline-block;
    width: 35px;
  }

  .current {
    color: $primary_red;
    border: 1px solid;
  }

  .prev {
    width: 90px;
  }

  .next {
    width: 90px;
  }
}
