.flower-care-steps {
  h2 {
    font-size: 38px;
    margin-top: 0 !important;
  }

  .item {
    .content {
      margin-top: 30px;
    }

    &.item-0 {
      width: 66%;
      margin: 0 auto;
      padding-top: 60px;
      padding-bottom: 60px;
    }

    .image {
      img {
        height: 100px;
        margin: 0 auto;
        display: inline-block;
      }
    }
  }

  .steps-wrap {
    display: flex;
    flex-wrap: wrap;

    .item {
      width: 50%;
      padding: 60px 0;
      border-bottom: 1px solid $green;

      &:nth-child(1),
      &:nth-child(2) {
        padding-top: 0;
      }

      &:nth-child(odd) {
        border-right: 1px solid $green;
        padding-right: 60px;
        padding-left: 0;

        @include mobile {
          border-right: 0;
        }
      }

      &:nth-child(even) {
        padding-left: 60px;
        padding-right: 0;
      }

      &:nth-last-child(-n+2) {
        border-bottom: none;
      }

      @include mobile {
        width: 100%;
        padding-top: 50px !important;
        padding-right: 20px !important;
        padding-left: 20px !important;
        border-right: 0;
      }
    }
  }
}

.flower-care {
  @include mobile {
    .flower-care-space-full {
      display: none;
    }
  }
}
