.gear-up {
  .items-list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;

    li {
      display: flex;
      align-items: center;

      .icon {
        height: 60px;
        width: 70px;
        justify-content: center;

        img {
          max-height: 50px;
        }
      }

      .item-text {
        text-transform: uppercase;
        font-weight: normal;
      }
    }
  }
}
