.home {
  .weddings {
    .button {
      background-color: #fff0 !important;
      color: white;
      border: 2px white solid !important;
      opacity: 0;

      &::before {
        content: "";
        display: none;
      }
    }

    .box-elements {
      position: relative;

      &:hover {
        &::before {
          content: "";
          background-color: #a9b9af;
          width: 100%;
          height: 100%;
          position: absolute;
          opacity: 0.7;
        }

        .button {
          background-color: #fff0 !important;
          opacity: 1;
        }
      }
    }
  }
}
