.landing-page {
  .logo-container {
    padding-top: 5vw;
  }

  .full-screen-container {
    display: flex;
    flex-flow: column;
  }

  .button {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0;
    opacity: 1;
    transition: 0.1s linear;
    background-color: $green_medium_light;
    width: 100%;
    color: black;
    outline: 2px $green_medium_light solid;
    outline-offset: -1px;
    border: none;
    height: 80px;

    &:hover {
      outline: 2px $green_medium_light solid;
      outline-offset: 10px;
    }
  }

  .middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .bottom-button {
    margin-bottom: 5vw;
    max-height: 50px;

    @include mobile {
      display: none;
    }

    img {
      height: 100%;
    }
  }
}
