.latest-posts {
  .featured-image {
    padding-top: 100%;
    width: 100%;
    position: relative;
    margin: 0 auto;
    display: block;
    outline: 2px solid #fff;
    outline-offset: -10px;
    transition: 0.1s linear;

    .button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 0;
      opacity: 0;
      transition: 0.1s linear;
    }

    &:hover {
      outline: 2px solid white;
      outline-offset: -20px;

      .button {
        opacity: 1;
      }
    }
  }

  .montserrat {
    font-family: "Montserrat", sans-serif !important;
  }

  .border-bottom {
    border-bottom: $green_dark solid;
  }

  .btn-color-primary {
    color: white;
    background-color: $primary_red !important;
  }
}
