.woocommerce {
  section.products {
    &.related,
    &.sliding {
      .products {
        li {
          width: 100%;
          margin: 0;
          clear: none;
          outline: none;

          .product-wrap {
            max-width: 390px;
            position: relative;
            margin: 0 auto;
          }

          .woocommerce-loop-product__link {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            .product-image-wrap {
              width: 100%;
            }

            h2 {
              font-family: "Montserrat", sans-serif;
              font-size: 19px;
              font-weight: 200;
              height: 60px;
              overflow: hidden;
              line-height: 60px;

              @include mobile {
                height: auto;
              }
            }

            .price {
              margin-right: 150px;
              margin-bottom: 0;
            }
          }

          .add_to_cart_button {
            margin: 15px 0;

            @include widescreen {
              position: absolute;
              right: 0;
              bottom: 0;
              margin: 0;
            }
          }
        }
      }
    }

    &.sliding {
      .products {
        li {
          .product-wrap {
            h2 {
              width: 100%;
              text-align: center;

              @include widescreen {
                float: left;
                width: 70%;
                max-width: 205px;
                text-align: left;
              }
            }

            a {
              &:hover {
                h2 {
                  color: $primary_red;
                }
              }
            }

            .price-button-wrap {
              margin: 15px 0 0 0;
              flex-direction: column;

              @include widescreen {
                flex-direction: row;
                margin: 0;
              }

              .price {
                @include widescreen {
                  position: absolute;
                  bottom: 28px;
                  right: 30px;
                }
              }

              a {
                bottom: 22px !important;
              }
            }
          }
        }
      }
    }
  }
}
