section.related {
  text-align: center;
  clear: both;
  padding: 0 50px;

  .product-wrap {
    margin: 0 5px !important;
  }

  @include widescreen {
    padding: 0;

    .product-wrap {
      margin: 0;
    }
  }
}
