.secondary-menu {
  background-color: $green_medium_light;

  .menu {
    display: flex;
    justify-content: space-between;
  }

  a {
    color: black;
    padding: 30px 10px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;

    &:hover {
      color: #965250;
    }
  }

  .navbar-dropdown {
    box-shadow: none;
    border-top: none;
    background-color: #e7efea;
    border-radius: 0;
    text-transform: none;
    z-index: 100;

    a {
      padding: 0;
    }

    .menu-item {
      display: flex;
      flex-flow: column;
      align-items: baseline;
    }
  }

  .menu-item-highlighted {
    background-color: $primary_red;

    a {
      text-transform: uppercase;
      color: white;
      padding: 25px;
    }
  }

  li {
    padding: 0;

    &.active {
      a {
        color: #965250;
      }
    }
  }
}
