// .menu-item-has-children {
//   .sub-menu {
//     display: none !important;
//   }
// }

.shiftnav-nav {
  .submenu-arrow {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
    line-height: 100%;
    padding: 10px;
    z-index: 1000;
    transition: 0.2s;
  }

  .current_page_item {
    > .shiftnav-target {
      background: #965250 !important;
      color: white !important;
    }

    > .submenu-arrow {
      color: white;
    }
  }

  .current-menu-ancestor,
  .current-menu-item,
  .current-menu-parent {
    background: #965250 !important;

    > .shiftnav-target {
      background: #965250 !important;
      color: white !important;
    }

    > .submenu-arrow {
      color: white;
    }
  }

  .shiftnav-menu {
    .menu-item-has-children {
      .sub-menu {
        display: none;

        .shiftnav-target {
          padding-left: 40px !important;
        }

        .sub-menu-2 {
          .menu-item {
            .shiftnav-target {
              margin-left: 1em;
            }
          }
        }
      }
    }

    .menu-item-highlighted {
      background-color: #e3d2d2 !important;
    }
  }
}

.shiftnav-main-toggle-content {
  height: 100%;

  .search-container {
    float: right;
    position: absolute;
    // width: 74%;
    display: flex;
    right: 20%;
    transform: translate(50%, -50%);
    top: 50%;
    justify-content: flex-end;

    &.open {
      right: 50%;
    }

    a {
      color: $green_dark;

      &:hover {
        color: $primary_red;
      }

      &.icon-search {
        font-size: 20px;
        margin: 0;
        margin-right: 10px;
        color: #a9b9af !important;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      }
    }
  }

  .cart-summary {
    .mobile-cart-amount {
      background-color: #965250;
      border-radius: 50%;
      color: white;
      width: 20px;
      height: 20px;
      line-height: 20px;
      font-weight: 500;
      position: absolute;
      bottom: 15px;
      right: 10px;
      font-size: 0.9em;
    }
  }

  .search-input-toggle {
    max-width: 0;
    overflow: hidden;
    transition: 0.4s ease;
    flex-grow: 1;
    margin-right: 10px;

    &.open {
      max-width: 800px;
      width: auto;
      overflow: auto;
    }

    .dgwt-wcas-search-wrapp {
      min-width: 200px;
    }

    .dgwt-wcas-no-submit {
      .dgwt-wcas-ico-magnifier {
        display: none;
      }

      .dgwt-wcas-sf-wrapp input[type=search] {
        &.dgwt-wcas-search-input {
          padding-left: 15px;
        }
      }
    }
  }
}
