.shop-by-occasion {
  .occasion {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 25px;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.15;
    }

    .shop-now {
      z-index: 1;
      text-shadow: 0 0 5px #00000087;
      border-bottom: 0 white solid;
      transition: 0.1s;
    }

    &:hover {
      .shop-now {
        z-index: 1;
        text-shadow: 0 0 5px #00000087;
        border-bottom: 0 white solid;
        transition: 0.1s;
        border-width: 2px;
        color: white;
      }
    }
  }

  .occasion-title {
    font-family: "Petit Formal Script", cursive;
    text-shadow: 0 0 5px #00000087;
    z-index: 1;
  }
}
