.single-vacancy {
  .job-type {
    color: $primary_red;
  }

  .montserrat {
    font-family: "Montserrat", sans-serif !important;
  }

  .sub-title {
    color: $green_dark;
  }

  .border-right {
    border-right: 2px $green_dark solid;
  }

  .btn-color-primary {
    color: white;
    background-color: $primary_red !important;
  }

  .social-links {
    li {
      list-style: none;
      float: left;
      margin: 0;
    }

    a {
      background-color: $primary_red;
      color: white;
    }
  }

  .heateor_sss_sharing_container {
    justify-content: center;
    margin-bottom: 50px;
  }
}
