.hand-picked-products {
  @include mobile {
    padding: 0 50px;

    li.product {
      .product-wrap {
        // margin: 0 5px !important;
        text-align: center;
        display: flex;

        .product-image-wrap {
          outline: 2px solid #fff;
          outline-offset: 0;
          transition: 0.1s linear;
        }

        .woocommerce-loop-product__title {
          width: 100%;
          font-family: "Montserrat", sans-serif;
          font-weight: 400;
        }

        &:hover {
          .product-image-wrap {
            outline-offset: -20px;
          }
        }
      }
    }
  }

  li.product {
    .product-wrap {
      display: flex;
      flex-flow: column;

      .product-image-wrap {
        // outline: 2px solid #fff;
        // outline-offset: 0;
        transition: 0.1s linear;
      }

      .woocommerce-loop-product__title {
        width: 100%;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
      }

      .price {
        min-width: 150px;
      }

      &:hover {
        // .product-image-wrap {
        //   outline-offset: -20px;
        // }
        .overlay {
          opacity: 1;
        }
      }
    }
  }

  // .overlay {
  //   display: none;
  // }
}

.sliding.products {
  @include mobile {
    padding: 0 50px;

    li.product {
      .product-wrap {
        // margin: 0 5px !important;
        text-align: center;
        display: flex;

        .woocommerce-loop-product__title {
          width: 100%;
        }
      }
    }
  }

  li.product {
    .product-wrap {
      display: flex;
      flex-flow: column;

      .woocommerce-loop-product__title {
        width: 100%;
      }

      .price {
        min-width: 150px;
      }
    }
  }
}
