.hero-slick-carousel {
  z-index: 0;

  .slide-item {
    height: auto;
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    max-height: 800px;
    min-height: 35em;
    display: flex !important;
    flex-direction: column;
    justify-content: center;

    @include mobile {
      background-size: cover;
      background-position: right center;
      background-repeat: no-repeat;
      background-position-x: -137px;
      max-width: 100%;
      max-height: 400px;
    }

    .sliding-hero-overlay {
      padding: 50px 0;
    }
  }

  &.slick-dotted {
    &.slick-slider {
      margin-bottom: 0;
    }
  }

  .slick-dots {
    bottom: 0;
    margin: 0;
  }

  .button.btn-color-primary {
    background-color: $primary_red !important;
    text-transform: uppercase;
    color: #ffff;
    border: none;
    font-weight: normal;

    @include mobile {
      font-size: 11px;
      width: 100px;
      height: 50px;
    }
  }

  span {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 15px;
    color: #ffff;
  }

  h2 {
    color: #ffff;
  }

  .button-color {
    background-color: $green;
    text-transform: uppercase;
  }

  .siding-hero-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
  }

  .title {
    span {
      padding-bottom: 20px;
      font-size: 22px;

      @include mobile {
        font-size: 16px;
      }
    }
  }

  .subtitle {
    color: #000;
    font-size: 50px;
    font-weight: normal;

    @include mobile {
      font-size: 22px;
    }
  }

  .hero-body {
    // padding-top: 13rem !important;
    padding-bottom: 9rem !important;
    padding-top: 9rem !important;

    @include mobile {
      // padding-top: 15px !important;
    }
  }

  @include desktop {
    // height: 800px;
  }

  .button {
    padding: 25px 24px;
  }
}
