.social-links {
  margin-left: 15px;

  a {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: $green-dark;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease;
    padding-top: 2px;
    margin-left: 5px;

    &:hover {
      background-color: $primary_red;
      color: #fff;
    }
  }

  li:first-child {
    a {
      margin-left: 0;
    }
  }
}

.footer {
  .social-links {
    margin-left: 0;
  }
}
