.steps {
  .step-marker {
    background: #e0d0cf !important;
    border-color: #fff !important;

    .icon {
      i::before {
        line-height: 29px;
        color: #fff;
      }
    }
  }

  .step-item {
    .step-details {
      margin-top: 0 !important;
      margin-bottom: 1rem !important;

      .step-title {
        font-size: 13px !important;
        color: black;
        font-weight: 300 !important;
        text-transform: uppercase;
      }
    }

    &:not(:first-child)::before {
      top: 3.3rem !important;
      background: #e0d0cf;
    }

    &.is-success.is-active {
      .step-marker {
        background-color: $primary_red !important;
      }
    }

    .icon-check,
    .icon-circle {
      display: none;
    }

    &.is-active {
      .icon-circle {
        display: block;
      }
    }

    &.is-completed {
      .icon-check {
        display: block;
      }
    }
  }

  .check-wrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .step-content {
    margin-top: 30px;

    .help {
      max-width: 200px;
      line-height: 1.1;
    }

    .item-image {
      max-width: 100px;

      @include mobile {
        max-width: 100%;
      }
    }

    .item-details {
      .is-flex {
        height: 100%;
        align-items: center;
      }
    }

    .item-price {
      text-align: right;

      @include tablet {
        padding-right: 30px !important;
      }

      .is-flex {
        height: 100%;
        align-items: center;
        justify-content: flex-end;
      }
    }

    .confirmation-wrap {
      .cart-total-wrap {
        background-color: $green_medium_light;
        padding: 20px 30px;
        font-weight: 700;
        margin-bottom: 40px !important;
      }
    }

    .payment-methods {
      .is-flex {
        align-items: center;

        input {
          margin-right: 5px;
        }
      }

      .radio {
        + .radio {
          margin: 0;
        }
      }
    }
  }

  .step-thankyou {
    font-family: "Montserrat", sans-serif;
    color: $green;
    font-size: 26px;
    font-weight: 700;
  }

  .content-thankyou {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
  }

  .revolut-step-hearer {
    background-color: $green_dark;
    color: #fff;
    height: 63px;
    font-size: 26px;
    font-weight: 700;
    line-height: 2.5em;
  }

  .col-block-left {
    float: left;
    padding-left: 50px;
  }

  .col-block-right {
    margin-left: 55%;
    padding-right: 100px;
    text-align: left !important;

    a {
      text-align: center !important;
    }
  }

  .button.btn-color-primary {
    background-color: $primary_red !important;
    text-transform: uppercase;
    color: #ffff;
    border: none;
    line-height: 0.5 !important;
    cursor: pointer;
    height: auto;

    &:hover {
      background-color: $primary_red_light !important;
    }
  }

  .check-wrap {
    display: block;
    position: relative;
    padding-left: 60px;
    padding-top: 12px;
    margin-bottom: 40px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    align-items: center;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 44px;
    width: 44px;
    background: $green_medium_light;

    i {
      display: none;
      line-height: 48px;
      font-size: 20px;
      color: $primary_red;
    }
  }

  .check-wrap:hover input ~ .checkmark {
    background-color: $green_medium_light;
  }

  .check-wrap input:checked ~ .checkmark {
    i {
      display: block;
    }
  }

  .check-wrap::after {
    content: "";
    position: absolute;
    display: none;
  }

  .check-wrap input:checked ~ .checkmark::after {
    display: block;
  }

  .check-wrap.checkmark::after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url("../images/calendar-icon.svg") no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
  }
}

.order-details {
  position: relative;
  text-align: left;
  background-color: $green_really_light;
  border-bottom: 1px solid $green;
  min-height: 85px;

  @include mobile {
    padding: 15px;
  }

  img {
    height: 82.99px;
    width: 82.99px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;

    @include mobile {
      position: relative;
    }
  }

  .product-text {
    position: absolute;
    color: #000;
    top: 36%;
    left: 21%;
  }
}

.last-step-wrap {
  margin-top: 40px;
}

.validation {
  font-size: 12px;
  text-align: left;
  margin-top: 10px;
}
