.subscriptions {
  margin-bottom: 20px !important;
  margin-top: 20px;

  .subscription-image {
    width: 100%;
    padding-top: 100%;
    height: 0;
    overflow: hidden;
  }

  .price {
    text-align: right;
    font-weight: 800;
    color: black;
  }

  .subscription-info {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .subscribe-button {
    text-transform: uppercase;
    background-color: #965250;
    color: #fff;
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    border-radius: 0;
    font-size: 0.8em;
    line-height: 1.4;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    overflow-wrap: break-word;
    cursor: pointer;
    display: inline-block;
  }
}
