body.subscribe {
  .frm_submit {
    text-align: left;
  }
}

div.subscribe {
  &:not(body) {
    padding: 100px 64px;
  }

  .title {
    color: #ffff;
    margin-bottom: 2.5rem !important;
  }

  .subtitle {
    color: #ffff;
  }

  .button {
    background-color: $green !important;
    color: #fff !important;
    padding: 1em 2em !important;
    transition: 0.2s ease;
    font-weight: bold !important;

    &:hover {
      filter: brightness(70%);
    }
  }

  .frm_fields_container {
    display: flex !important;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }

  .frm_style_formidable-style.with_frm_style {
    width: 100%;

    .form-field {
      margin-bottom: 0;
      width: 100% !important;

      input {
        width: 100%;
        height: 100%;
        border: none;
      }
    }

    .frm_submit {
      button {
        margin: 5px 0 0 0;
        height: 100%;
        box-shadow: none;
        padding: 12px 40px;
        text-transform: uppercase;
        font-weight: 400;
        background-color: $green_dark;
        transition: 0.2s ease;
        width: 100%;
        font-size: 13px;

        @media screen and (min-width: 768px) {
          margin: 0;
          width: auto;
        }

        &:hover {
          filter: brightness(70%);
          color: #fff;
        }
      }
    }

    .frm_message {
      background-color: transparent;
      border: 2px solid $green;

      p {
        margin: 0;
        text-align: center;
        color: #fff;
        font-weight: normal;
      }
    }
  }
}

.subscribe-overlay {
  background-color: rgba(150, 82, 80, 0.8);
  height: 100%;
}
