.testimonials-slider-wrap {
  .kt-row-layout-inner {
    position: relative;
    background-image: url("../images/flower-pattern-left.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom left;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("../images/flower-pattern-right.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom right;
    }
  }

  .testimonials {
    padding: 0 50px;
    flex-flow: column;

    @include desktop {
      padding: 0;
    }

    ul {
      margin: 0 auto;
      padding: 0;

      .slick-track {
        display: flex;
        align-items: center;
      }

      li {
        list-style: none;
        outline: none;
        margin: 0;

        .test-content,
        .test-name {
          padding-left: 30px;
          padding-right: 30px;
        }

        .test-name {
          font-size: 18px;
          font-weight: 700;
          margin-top: 30px;
        }
      }
    }
  }
}
