.text-image-blocks {
  .column {
    height: 470px;

    .content-wrap {
      height: 100%;
      align-items: center;
      justify-content: center;
    }

    &.text {
      align-items: center;
      justify-content: center;
      background-color: $green_dark;
      text-align: center;

      h2 {
        color: #fff;
      }
    }

    &.link {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }
}
