.clear {
  &::after,
  &::before {
    content: "";
    display: table;
    table-layout: fixed;
  }

  &::after {
    clear: both;
  }
}

@mixin bp( $p, $q: null, $orient: width, $orientation: null ) {
  @if ( $q != null ) {
    @if ( $orientation == null ) {
      @media (min-#{$orient}: $p * 1px) and (max-#{$orient}: $q * 1px) { @content; }
    }

    @else {
      @media (min-#{$orient}: $p * 1px) and (max-#{$orient}: $q * 1px) and (orientation: $orientation) { @content; }
    }
  }

  @else {
    @if ( $orientation == null ) {
      @media (min-#{$orient}: $p * 1px) { @content; }
    }

    @else {
      @media (min-#{$orient}: $p * 1px) and (orientation: $orientation) { @content; }
    }
  }
}

.timeline {
  max-width: unset;
  margin: 0 auto;
  background-image: url("../images/timeline.svg");
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 150px;
  float: left;

  @for $i from 1 to 20 {
    .imeline-item_#{$i} {
      .image,
      .clip {
        @include bp(1) {
          display: block;
          margin: 0 auto;
        }

        @media screen and (min-width: 1088px) {
          margin: unset !important;
        }
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .heading {
    font-size: 18px;
    font-weight: 600;
  }

  .image {
    .clip {
      display: inline-block;
      width: 170px;
      height: 170px;
      background-size: cover;
      background-position: center center;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  .item {
    display: flex;
    align-items: center;

    &:last-child {
      .column {
        width: 100%;
      }
    }

    @media screen and (max-width: 1023px) {
      flex-flow: column;
    }

    @include bp(1, 1023) {
      text-align: center;
      margin-bottom: 30px;
    }

    &.even,
    &.odd {
      @include bp(1024) {
        float: left;
      }
    }

    &.even {
      @include bp(1024) {
        text-align: left;
        margin-bottom: 40px;
      }

      .image {
        @include bp(1024) {
          width: 50%;
          float: left;
        }
      }

      .text {
        @include bp(1024) {
          width: 50%;
          float: right;
        }
      }
    }

    &.odd {
      @include bp(1024) {
        text-align: right;
        margin-bottom: 40px;
        flex-flow: row-reverse;
      }

      .image {
        @include bp(1024) {
          width: 50%;
          float: right;
        }
      }

      .text {
        @include bp(1024) {
          width: 50%;
          float: left;
        }
      }
    }
  }

  // timeline optimised
  .timeline-item {
    &_1 {
      @include bp(1, 1023) {
        .clip { margin-left: -128px; }
      }

      @include bp(1024) {
        .clip { margin-left: 56%; }
      }
    }

    &_2 {
      @include bp(1, 1023) {
        .clip { margin-left: 175px; }
      }

      @include bp(1024) {
        .clip { margin-right: 70%; }

        .text { padding-right: 50px; }
      }
    }

    &_3 {
      @include bp(1, 1023) {
        .clip { margin-left: -84px; }
      }

      @include bp(1024) {
        .clip { margin-left: 88%; }

        .text { padding-left: 20%; }
      }
    }

    &_4 {
      @include bp(1, 1023) {
        .clip { margin-left: 130px; }
      }

      @include bp(1024) {
        .clip {
          margin-right: 80%;
          margin-left: -30%; // for some reason completely unknown to me!
        }

        .text { padding-right: 15%; }
      }
    }

    &_5 {
      @include bp(1, 1023) {
        .clip { margin-left: -96px; }
      }

      @include bp(1024) {
        .clip { margin-left: 94%; }

        .text { padding-left: 20%; }
      }
    }

    &_6 {
      @include bp(1, 1023) {
        .clip { margin-left: -18px; }
      }

      @include bp(1024) {
        .clip {
          margin-right: 70%;
          transform: translate(-64px, 0);
        }

        .text {
          padding-right: 85px;
        }
      }
    }

    &_7 {
      @include bp(1, 1023) {
        .clip { margin-left: 0; }
      }

      @include bp(1024) {
        .clip { margin-left: 50%; }
      }
    }
  }
}
