.tips_and_tricks {
  margin-top: 80px;

  .with-bg-image {
    background-size: cover;
    background-position: center right;
  }

  .tip-box {
    padding-top: 100px;
    padding-bottom: 100px;

    a.button {
      font-weight: 400;
      white-space: initial;
      background-color: $primary_red !important;
    }
  }

  .tip-left {
    padding: 80px;
    background-color: $green_really_light;

    @media screen and (max-width: 500px) {
      padding: 80px 30px;
    }
  }

  .title {
    font-weight: 500;
  }

  .tip-right {
    padding: 80px;
    text-align: center;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

    @include widescreen {
      text-align: right;
    }
  }

  .btn-color-primary {
    background-color: $primary_red;
    text-transform: uppercase;
    color: #ffff;
    border: none;
  }

  .tip-text {
    color: $primary_red;
  }

  li {
    margin: 15px 0;
  }

  h1 {
    margin-bottom: 2.5rem !important;
  }

  h3 {
    font-weight: 300 !important;
  }

  .media {
    align-items: center;
  }

  .button {
    background-color: $primary_red !important;
    color: #fff !important;
  }
}
