.venues {
  .columns {
    &.odd {
      .image {
        order: -1;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
}
