.weddings-featured-boxes {
  .box-wrap {
    position: relative;

    .button {
      z-index: 100;
      background: none !important;
      color: white;
      border: white 2px solid !important;

      &::before {
        content: "";
        border: none;
      }
    }

    &:hover {
      &::after {
        content: "";
        background-color: $green_dark;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        top: 0;
        left: 0;
      }

      .button {
        opacity: 1;
      }
    }
  }

  .box-elements {
    background: none !important;

    &:hover {
      .button {
        background: none !important;
      }
    }
  }
}
