.what-we-do-wrap {
  @include tablet {
    .wp-block-column {
      flex-basis: 50%;
      padding: 50px;

      &:first-child {
        &::before {
          content: " ";
          background-color: #965250;
          position: absolute;
          height: 30%;
          width: 2px;
          z-index: 100;
          left: 50%;
        }
      }
    }
  }

  ul,
  li {
    list-style: none;
    margin: 0;
  }

  li {
    background-image: url("../images/tick-circle-icon.svg");
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 40px;
    min-height: 40px;
    padding-top: 4px;

    li {
      background-image: none;
      padding-left: 20px;
      position: relative;

      &::before {
        content: "-";
        display: inline-block;
        margin-right: 5px;
        position: absolute;
        left: 0;
      }
    }
  }
}
