.woocommerce-cart {
  .container {
    .button {
      background-color: $primary_red;
      color: #fff;
      border-radius: 0;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      border: none;

      &:hover {
        filter: brightness(70%);
      }
    }

    .wc-proceed-to-checkout {
      .button {
        display: flex !important;
        width: 100%;
        text-align: center;
        margin-bottom: 1em;
        font-size: 1.25em;
        font-weight: 400 !important;
        padding: 1em;
        line-height: 15% !important;
        background-color: $primary_red !important;
      }

      a {
        color: #fff;
      }
    }
  }

  .coupon {
    .input-text {
      width: 150px !important;
      height: 36px;
    }

    button {
      padding-top: 7px !important;
      padding-bottom: 28px !important;
    }
  }
}
