.woocommerce-checkout {
  .steps {
    .delivery-warning,
    .disabled-warning {
      text-align: left;
    }

    .steps-actions {
      justify-content: space-around;

      .processing-modal {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba($color: #fff, $alpha: 0.7);
        z-index: 1000;

        .processing-text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: black;
          font-weight: bold;
          font-size: 2em;
          animation: bounce 1s infinite;
          animation-timing-function: ease;

          @keyframes bounce {
            0% {
              transform: translate(-50%, 0);
            }

            70% {
              transform: translate(-50%, -10px);
            }

            100% {
              transform: translate(-50%, 0);
            }
          }

          // &::after {
          //   content: " .";
          //   animation: dots 1s steps(5, end) infinite;
          // }

          @keyframes dots {
            0%,
            20% {
              color: rgba(0, 0, 0, 0);
              text-shadow:
                0.25em 0 0 rgba(0, 0, 0, 0),
                0.5em 0 0 rgba(0, 0, 0, 0);
            }

            40% {
              color: white;
              text-shadow:
                0.25em 0 0 rgba(0, 0, 0, 0),
                0.5em 0 0 rgba(0, 0, 0, 0);
            }

            60% {
              text-shadow:
                0.25em 0 0 white,
                0.5em 0 0 rgba(0, 0, 0, 0);
            }

            80%,
            100% {
              text-shadow:
                0.25em 0 0 white,
                0.5em 0 0 white;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 800px) {
    .steps {
      .step-item {
        display: none;
      }

      .delivery-options {
        max-width: 400px;
        margin: 0 auto;
      }
    }
  }

  @include mobile {
    .field.is-grouped {
      display: block;

      .select {
        margin: 0 auto;
        display: block;

        select {
          max-width: 100%;
          width: 100%;
        }
      }

      .help {
        width: 100%;
        max-width: 100%;
        text-align: center;
      }
    }

    .steps {
      .steps-content {
        width: 100%;
      }

      .steps-actions {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;

        .steps-action {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}
