.woocommerce-page {
  .cart_totals {
    h2 {
      text-align: center;
      margin: 20px 0;

      @include tablet {
        text-align: left;
      }
    }
  }

  .shop_table {
    #shipping_method {
      margin-left: 0;
      list-style: none;
    }
  }

  @include mobile {
    .wc-proceed-to-checkout {
      margin: 0 15px !important;
    }
  }

  &.archive {
    .content {
      // padding: 0 15px;
      // padding-top: 90px;
    }
  }
}

.woocommerce,
.woocommerce-checkout {
  .button {
    border-radius: 0 !important;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;

    &.alt {
      background-color: $primary_red !important;
      color: #fff;
    }
  }

  .woocommerce-message {
    background-color: $green_really_light;

    @media screen and (max-width: 500px) {
      text-align: center;
    }

    .button {
      background-color: $primary_red;
      color: #fff;

      &:hover {
        background-color: $primary_red;
        filter: brightness(70%);
        color: #fff;
      }

      @media screen and (max-width: 500px) {
        float: none !important;
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }

  .sidebar {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #fff;
    overflow: hidden;
    text-align: center;
    height: 80px;
    padding-top: 30px;
    transition: 0.4s ease;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.33);

    @include tablet {
      position: relative;
      top: auto;
      text-align: left;
      padding-top: 0;
      height: auto;
      box-shadow: none;
    }

    .mobile-toggle {
      display: none;
      padding-bottom: 20px;

      @include mobile {
        display: block;

        &::before {
          content: "Show Filters";
          text-align: center;
        }
      }
    }

    &.open {
      height: 500px;
      overflow: scroll;

      .mobile-toggle {
        &::before {
          content: "Hide Filters";
        }
      }
    }

    h2 {
      font-family: "Montserrat", sans-serif;
      font-size: 25px;
      text-transform: uppercase;
      font-weight: 300;
      margin-bottom: 40px;
      margin-top: 0;

      @media screen and (min-width: 800px) {
        margin-top: 130px;
      }
    }

    section.widget {
      margin: 20px auto;
      border-bottom: 1px solid $green;
      padding-bottom: 20px;
      max-width: 400px;

      @include tablet {
        margin-right: 25px;
        max-width: 100%;
      }

      &:last-child() {
        border-bottom: none;
      }

      .menu {
        list-style: none;
        padding: 0;
        margin: 0;
        // margin-left: 0;
      }
    }

    .ui-widget-content {
      background-color: $green !important;
    }

    .ui-slider-range {
      background-color: $primary_red !important;
    }

    .ui-slider-handle {
      background-color: #fff !important;
      border: 1px solid $primary_red;
    }

    .price_slider_amount {
      text-align: left !important;

      .button {
        float: right !important;
        background-color: $primary_red !important;
        color: #fff;
        text-transform: uppercase;
        transition: 0.2s ease;
        padding: 15px !important;
        font-size: 1em !important;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  .site-main {
    & > .products {
      &.columns-3 {
        // display: flex;
        // flex-wrap: wrap;

        .product {
          flex-grow: 1;

          @include mobile {
            width: 100%;
          }

          .button {
            bottom: 0;
          }

          span {
            bottom: auto;
          }
        }
      }
    }
  }

  .main {
    width: 100%;
  }

  .woocommerce-error {
    display: none;
  }

  .onsale {
    margin: 0 !important;
    min-height: auto !important;
    min-width: auto !important;
    border-radius: 0 !important;
    padding: 0 15px !important;
    line-height: 3 !important;
    background-color: #965250 !important;

    @media screen and (max-width: 700px) {
      font-size: 0.75em !important;
    }
  }

  .product-info-wrap {
    .onsale {
      top: 0 !important;
      left: 0 !important;

      @media screen and (max-width: 700px) {
        left: 10% !important;
      }
    }
  }

  .product-image-wrap {
    margin-bottom: 1em;
    position: relative;
    overflow: hidden;

    img {
      transition: 0.2s ease;
      z-index: 1;
    }

    .overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      transition: 0.2s ease;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      z-index: 2;
    }

    &:hover {
      .overlay {
        opacity: 1;
      }

      img {
        transform: scale(1.2);
      }
    }
  }

  ul.products {
    li.product {
      img {
        margin: 0 !important;
      }
    }
  }

  .payment-methods {
    list-style: none;
    padding: 0;
    margin: 40px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;

    @include widescreen {
      justify-content: flex-start;
      max-width: 100%;
    }

    .field {
      @include mobile {
        margin-top: 20px;
      }
    }

    .columns {
      width: 100%;
    }

    li {
      display: inline-block;
      padding: 0;
      margin: 0 5px;
      text-transform: uppercase;
      font-size: 16px;
      color: #909a94;
      font-weight: normal;
      text-align: center;

      @media screen and (min-width: 767px) {
        margin: 0 10px;
      }

      @include widescreen {
        margin: 0 20px 0 0;
        text-align: left;
      }
    }
  }

  .price-button-wrap,
  .wc-block-grid__product-add-to-cart,
  .wc-block-grid__product {
    // justify-content: center;
    align-items: center;
    // margin-top: 1em;
    text-align: right;
    // display: inline-block !important;
    // position: absolute;
    bottom: 4px;
    right: 0;
    padding: 0 0 !important;

    .price {
      color: #000 !important;
      display: inline-block !important;
      // margin-bottom: 0 !important;
      font-weight: bold !important;
      margin-right: 10px;
      position: relative;
      font-size: 17px;
      left: 0;
      max-width: 65%;
      text-align: left;
      // bottom: 20px !important;
      // right: 50px;

      ins {
        text-decoration: none !important;
      }
    }

    .add_to_cart_button,
    .product_type_grouped {
      margin-top: 0;
      font-size: 0 !important;
      line-height: 0;
      width: 35px;
      height: 35px;
      background: url("../images/cart-icon.svg") no-repeat center center !important;
      transition: 0.2s ease;
      position: absolute;
      right: 0;

      &:hover {
        opacity: 0.5;
      }
    }

    // this is for the button that apear when 'the out or stock' or 'new' sign appear
    .product_type_variable {
      font-size: 13px;
      margin-left: 61%;
      margin-top: -10px !important;

      @include mobile {
        font-size: 13px;
        margin-left: 61%;
        margin-top: -20px;
      }

      @include mobile {
        font-size: 10px;
        margin-left: 47%;
        margin-top: -10px !important;
      }
    }

    .product_type_simple {
      font-size: 13px;
      margin-left: auto;
      margin-top: -10px !important;

      @include mobile {
        font-size: 13px;
        margin-left: auto;
        margin-top: -20px;
      }

      @include mobile {
        font-size: 10px;
        margin-left: auto;
        margin-top: -10px !important;
      }
    }
  }

  &.archive {
    .woocommerce-products-header {
      h1 {
        margin-top: 30px;
        margin-bottom: 40px;
        float: none;
        max-width: 100%;
        text-align: center;

        @media screen and (min-width: 700px) {
          max-width: 60%;
          float: left;
          text-align: left;
        }
      }
    }

    .orderby-wrap {
      margin-top: 50px;
      font-weight: 700;
      float: none !important;
      text-align: center;

      @media screen and (min-width: 700px) {
        float: right !important;
        text-align: left;
      }

      .orderby {
        border: none;
        background: url("../images/down-arrow.svg") no-repeat right;
        -webkit-appearance: listbox;
        background-position-x: 118px;
      }

      @media screen and (max-width: 700px) {
        width: 80%;
        margin: 20px auto;
      }

      form {
        margin-left: 15px;
        position: relative;
        top: 2px;
        display: inline-block;
        float: none !important;
      }
    }

    .products {
      @media screen and (max-width: 700px) {
        li {
          // width: 100% !important;
        }
      }
    }

    .product-wrap {
      text-align: center;
      font-size: 19px;
      height: 100%;

      .onsale {
        margin: 0 !important;
        min-height: auto;
        min-width: auto;
        border-radius: 0;
        padding: 0 15px;
        line-height: 3;
        background-color: #dc0b05;
      }

      h2 {
        font-family: "Montserrat", sans-serif;
        font-size: 19px;
        font-weight: 300;
        transition: 0.2s ease;
        height: auto;
        overflow: hidden;
        text-align: left;

        @include mobile {
          height: auto;
        }
      }

      .woocommerce-LoopProduct-link {
        &:hover {
          h2 {
            color: $primary-red;
          }
        }
      }
    }
  }

  .woocommerce-pagination {
    margin-bottom: 100px;
    text-transform: uppercase;

    ul {
      border: none !important;

      li {
        border: none !important;
        margin: 0 5px !important;

        .current {
          border: 1px solid #965250;
          color: #965250 !important;
          background-color: #fff !important;
        }
      }
    }
  }
}

.wp-block-woocommerce-handpicked-products,
.wp-block-handpicked-products {
  padding-left: 25px;
  padding-right: 25px;

  @include desktop {
    padding-left: 0;
    padding-right: 0;
  }

  @media screen and (max-width: 700px) {
    .products {
      .product {
        width: 100% !important;
        float: none !important;
      }
    }
  }

  .woocommerce-loop-product__title {
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
    font-weight: 300;
    transition: 0.2s ease;
    float: left;
    width: 100%;
    text-align: center;
    max-width: auto;

    @include desktop {
      width: 60%;
      text-align: left;
      height: 60px;
      max-width: 190px;
    }
  }

  a {
    &:hover {
      .woocommerce-loop-product__title {
        color: $primary_red;
      }
    }
  }

  .price-button-wrap,
  .wc-block-grid__product-add-to-cart,
  .wc-block-grid__product {
    display: inline-block !important;
    text-align: left !important;
    margin: 24px auto 5px auto !important;

    .price {
      margin: 0 0 12px 0;
      position: relative;
      bottom: 0;

      // @include desktop {
      //   position: absolute;
      //   bottom: 28px;
      //   right: 30px;
      // }
    }

    a.add_to_cart_button {
      @include desktop {
        position: relative;
        // bottom: 15px;
        right: 0;
      }
    }

    .wc-block-grid__product-link {
      position: relative;
      display: flex;
      flex-direction: column;
    }

    .wc-block-grid__product-title {
      display: inline-block;
      text-align: left;
      font-family: "Montserrat", sans-serif;
      font-size: 19px;
      font-weight: 200 !important;
      overflow: hidden;
    }
  }
}

.slick-arrow {
  width: 42px !important;
  height: 42px !important;

  &::before {
    font-family: "alistair", sans-serif !important;
  }

  &.slick-prev {
    left: -40px;

    &::before {
      content: "\65" !important;
      font-size: 40px !important;
    }
  }

  &.slick-next {
    right: -40px;

    &::before {
      content: "\64" !important;
      font-size: 40px !important;
    }
  }
}

/* Category description */

.shop-category-desc {
  padding: 80px 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  font-size: 16px;

  @include tablet {
    padding: 130px 15px;
  }

  .container {
    column-count: 1;
    text-align: center;

    @include tablet {
      column-count: 2;
      column-gap: 50px;
      text-align: left;
    }

    @include desktop {
      column-gap: 150px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      width: 1px;
      border-right: 1px solid $primary_red;
      margin-left: -1px;
      display: none;

      @include tablet {
        display: block;
      }
    }

    p {
      margin: 0 0 1em;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.85);
  }
}

a.added_to_cart {
  position: relative;
  top: auto;
  text-align: right;
  display: inline-block;

  @include desktop {
    top: 35px;
    display: block !important;
  }
}

@include mobile {
  .cart-empty,
  .return-to-shop {
    text-align: center;
  }

  .wc-block-grid.has-3-columns {
    .wc-block-grid__product {
      flex: none;
      max-width: 100%;
      padding: none;
    }
  }
}

.instagram-media {
  margin: 0 auto !important;
}
