/* Gift Addons */

.remodal.addons-modal {
  text-align: center;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 60px;
  max-width: 600px;
  height: 90%;
  overflow: auto;

  #single-addons-list {
    height: 100%;

    .single-addons-slider {
      height: 100%;

      .slick-list {
        height: 100%;

        .slick-track {
          display: flex;
          height: 100%;
        }
      }
    }
  }

  .remodal-close {
    background-color: #667b6e;
    color: #fff;
    border-radius: 50%;
    right: 20px;
    top: 20px;
    left: auto;
  }

  #show-addons-list {
    width: 35px;
    height: 35px;
    background-color: $primary_red;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    font-size: 25px;
    line-height: 1;
    padding: 0;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;

    span {
      position: relative;
      display: inline-block;
      top: -2px;

      &::before {
        content: "+";
      }
    }

    &.active {
      span {
        &::before {
          content: "-";
        }
      }
    }
  }

  .addon-title {
    font-size: 22px;
    margin-bottom: 0;
  }

  .slick-slide {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }

  .item {
    outline: none;
    // padding: 0 20px;

    .image {
      img {
        max-height: 200px;
        width: auto;
        margin: 0 auto 10px;
      }
    }

    .desc {
      font-size: 13px;
      margin-bottom: 30px;
    }

    .price {
      font-weight: 700;
      font-size: 19px;
      margin-bottom: 30px;
    }

    .default-price {
      display: none;
    }

    .variations {
      margin-bottom: 30px;

      select {
        margin-left: 10px;
        vertical-align: middle;
      }
    }

    button {
      width: 100%;
      height: auto;
    }
  }

  #addons-list {
    display: none;

    .addon-title {
      font-size: 13px;
      margin-bottom: 0;
      margin-top: 10px;
      height: 38px;
      overflow: hidden;
    }

    .price {
      margin: 10px 0;
      font-weight: 700;
    }

    button {
      font-size: 13px;
      width: 100%;
      height: auto;
    }
  }
}

.gift-addons {
  margin-top: 30px;

  @media screen and (max-width: 700px) {
    padding: 0 30px;
  }

  .gifts-slider {
    margin: 25px 0;

    .item {
      margin: 0 8px;
      outline: none;
      cursor: pointer;
      transition: 0.2s ease;
      float: left;
      position: relative;

      .onsale {
        font-size: 10px;
        padding: 0 10px !important;
      }

      .image {
        max-width: 100px;
        height: auto;
        margin: 0 auto;

        .overlay {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: rgba(150, 82, 80, 0.9);
          color: #fff;
          text-transform: uppercase;
          font-weight: 700;
          align-items: center;
          justify-content: center;
          text-align: center;
          font-size: 12px;
          line-height: 1.2;
          opacity: 0;
          transition: 0.2s ease;
        }

        img {
          margin: 0 auto;
        }
      }

      &:hover {
        opacity: 0.6;

        .overlay {
          opacity: 1;
        }
      }

      .title {
        font-size: 13px;
        font-weight: normal;
        text-align: center;
        margin: 10px 0;
        height: 28px;
        overflow: hidden;
      }

      .actions {
        justify-content: space-between;
        align-items: center;
        font-size: 9px !important;
        color: black !important;
      }
    }
  }
}

body {
  .remodal-overlay {
    background-color: rgba(231, 239, 234, 0.9);
  }
}

.woocommerce-checkout {
  .addons {
    max-width: 500px;
    margin: 0 auto;

    @include mobile {
      max-width: 290px;
      text-align: center;
    }
  }
}
