.single-product {
  .product-info-wrap {
    padding: 80px 0 60px;
    background-color: $green_really_light;
    clear: both;
    overflow: hidden;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-bottom: 60px;

    .woocommerce-product-gallery {
      width: 80% !important;
      margin: 0 auto;
      float: none !important;

      @include widescreen {
        width: 55% !important;
        float: left !important;
      }
    }

    .hidden-select {
      display: none;
    }

    .summary {
      float: none !important;
      width: 100% !important;
      padding: 0 15px;

      em {
        font-size: 13px;
      }

      @media screen and (min-width: 700px) {
        padding: 0 50px;
      }

      @include widescreen {
        width: 45% !important;
        float: right !important;
      }
    }

    h1.product_title {
      font-family: "Montserrat", sans-serif;
      font-size: 28px;
      font-weight: 300;
      margin-bottom: 20px;
    }

    .price {
      color: black !important;
      font-size: 28px;
      font-weight: 700;

      .delivery-note {
        font-size: 12px;
        display: block;

        @include tablet {
          display: inline-block;
        }
      }
    }

    .variations {
      margin: 30px 0;
      border-top: 1px solid $green_dark !important;

      .variation {
        padding: 30px 0;
        border-bottom: 1px solid $green_dark;

        @media screen and (max-width: 374px) {
          .options {
            flex-direction: column;

            .option {
              margin-bottom: 10px;
            }
          }
        }

        .option {
          display: flex;
          align-items: center;
          position: relative;
          height: 60px;

          @media screen and (min-width: 700px) {
            margin-right: 10px;
          }

          input.has-icon {
            margin-right: 40px;

            &::after {
              content: "";
              display: inline-block;
              width: 45px;
              height: 60px;
              background-repeat: no-repeat;
              background-position: bottom center;
              position: absolute;
              top: -10px;
              left: 10px;
            }

            &#pa_size_small {
              &::after {
                background-image: url("../images/bouquet-small.svg");
              }
            }

            &#pa_size_medium {
              &::after {
                background-image: url("../images/bouquet-medium.svg");
              }
            }

            &#pa_size_large {
              &::after {
                background-image: url("../images/bouquet-large.svg");
              }
            }
          }

          label {
            text-transform: capitalize;
            margin-right: 15px;
            margin-left: 5px;
            font-size: 13px;
            font-weight: 300 !important;
          }
        }
      }
    }

    .single_variation_wrap {
      margin: 20px 0;
    }

    .quantity {
      display: none !important;

      .input-text {
        width: 100% !important;
        display: block;
        height: 36px;
      }
    }

    .single_add_to_cart_button {
      width: 100% !important;

      &:hover {
        filter: brightness(70%);
      }
    }

    .woocommerce-variation-add-to-cart {
      margin-top: 30px;
      display: flow-root;

      .single_add_to_cart_button {
        margin-top: 0 !important;
      }
    }

    .cart {
      .single_add_to_cart_button {
        margin-top: 30px;
      }
    }
  }

  .related {
    .product-wrap {
      h2 {
        width: 100%;
        text-align: center;

        @include widescreen {
          float: left;
          width: 70%;
          max-width: 205px;
          text-align: left;
        }
      }

      a {
        &:hover {
          h2 {
            color: $primary_red;
          }
        }
      }

      .price-button-wrap {
        margin: 15px 0 0 0;
        flex-direction: column;

        @include widescreen {
          flex-direction: row;
          margin: 0;
        }

        .price {
          @include widescreen {
            position: absolute;
            bottom: 28px;
            right: 30px;
          }
        }

        a {
          bottom: 22px !important;

          @include mobile {
            bottom: auto !important;
          }
        }
      }
    }
  }

  .product {
    .images {
      .flex-control-thumbs {
        display: flex;
        justify-content: center;
        margin-top: 20px !important;

        li {
          width: auto !important;
          margin: 5px !important;
        }
      }
    }
  }
}
